body {
  text-align: center;
  background-color: rgb(8, 8, 8);
  color: rgb(219, 237, 243);
  font-family: Arvo, cursive;
}

h1 {
  font-size: 7rem;
  color: rgb(219, 237, 243);
  font-family: Arvo, cursive;
  text-shadow: rgb(218, 4, 99) 3px 3px 0px;
  margin-top: 5%;
}

.set {
  display: flex;
  justify-content: center;
  margin-top: 11%;
}

button.drum {
  outline: none;
  border: none;
  font-size: 3rem;
  font-family: Arvo, cursive;
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-shadow: rgb(219, 237, 243) 2px 2px 0px;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
  transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s;
}

button.drum:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 24px;
}

button.drum:active {
  transform: scale(0.9);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
}

.pressed{
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity:0.5;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}
